.Linguistics ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.Linguistics li{
    display: inline-block;
    margin: 20px;
}

.Linguistics a{
    text-decoration: none ;
    color: #606766;
}

.Linguistics a:hover{
    color: #fa923f;
    text-decoration: underline;   
}

.Linguistics a:focus{
    color:#3FA7FA;
    text-decoration: underline;
}



